@model IEnumerable<EShopperAdminPanel.Models.PageModel>
@{
}

<head>
    <!-- Main Quill library -->
    <script src="https://cdn.jsdelivr.net/npm/quill@2/dist/quill.js"></script>

    <!-- Theme included stylesheets -->
    <link href="https://cdn.jsdelivr.net/npm/quill@2/dist/quill.snow.css"
          rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/quill@2/dist/quill.bubble.css"
          rel="stylesheet" />

    <!-- Core build with no theme, formatting, non-essential modules -->
    <link href="https://cdn.jsdelivr.net/npm/quill@2/dist/quill.core.css"
          rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/quill@2/dist/quill.core.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
</head>

<h2>Dinamik Sayfalar</h2>
<br />
<button type="button" class="btn btn-success" data-bs-toggle="modal" onclick="" data-bs-target="#createModal">Dinamik Sayfa Ekle</button>
<table class="table table-hover mt-3">
    <thead>
        <tr>
            <th class="d-none">Id</th>
            <th>Dinamik Sayfa</th>
            <th>Açıklama</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody id="pageTableBody" class="table-border-bottom-0">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>
                    <div class="dropdown">
                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                            <i class="bx bx-dots-vertical-rounded"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a onclick="getPageById(@item.Id)" data-bs-toggle="modal" data-bs-target="#updateModal" class="dropdown-item"><i class="bx bx-edit-alt me-1"></i> Güncelle</a>
                            <a onclick="deletePage(@item.Id, @item.Name)" class="dropdown-item"><i class="bx bx-trash me-1"></i> Sil</a>
                        </div>
                    </div>
                </td>
            </tr>
        }


    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">Kategori</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Sayfa Adı:</label>
                        <input type="text" class="form-control" id="upPageName">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Açıklama:</label>
                        <textarea class="form-control" id="upDesc"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Sayfa İçeriği:</label>
                        <div id="upEditor" style="height: 20rem">
                            <p>Açıklama alanı</p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <button onclick="" type="button" class="btn btn-primary">Güncelle</button>
            </div>
        </div>
    </div>
</div>



<div class="modal" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">Dinamik Sayfa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Sayfa Adı:</label>
                        <input type="text" class="form-control" id="pageName">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Açıklama:</label>
                        <textarea class="form-control" id="desc"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Sayfa İçeriği:</label>
                        <div id="editor" style="height: 20rem">
                            <p>Açıklama alanı</p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <button onclick="createPage()" type="button" class="btn btn-primary">Ekle</button>
            </div>
        </div>
    </div>
</div>



<script>
    const toolbarOptions = [
        ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
        ['blockquote', 'code-block'],
        ['link', 'image', 'video', 'formula'],
        [{ 'list': 'ordered' }, { 'list': 'bullet' }, { 'list': 'check' }],

        [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
        [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

        [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
        [{ 'font': [] }],
        [{ 'align': [] }],
    ];

    const quill = new Quill("#editor", {
        theme: "snow",
        height: "100%",
        modules: {
            toolbar: toolbarOptions
        }
    });

    function createPage() {
        debugger
        var pageName = $("#pageName").val();
        var desc = $("#desc").val();
        var pageHtml = quill.root.innerHTML;

        var formData = new FormData();

        formData.append("_pageName", pageName);
        formData.append("_desc", desc);
        formData.append("_pageHtml", pageHtml);

        $.ajax({
            url: '@Url.Action("CreatePage", "Page")',
            type: 'POST',
            dataType: 'json',
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {
                if (data) {
                    $(function () {
                        $('#createModal').modal('toggle');
                    });
                    Swal.fire({
                        title: "Başarılı!",
                        text: "Sayfa başarıyla eklendi.",
                        icon: "success"
                    });
                    updateTable();
                }
                else {
                    $(function () {
                        $('#createModal').modal('toggle');
                    });
                    Swal.fire({
                        title: "Hata!",
                        text: "Bir şeyler ters gitti lütfen tekrar deneyiniz!",
                        icon: "error"
                    });

                    return;
                }
            }
        });
    }
</script>