@model IEnumerable<EShopperAdminPanel.Models.PageModel>
@{
}
<script src="~/assets/pages-js/"></script>

<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<h2>Dinamik Sayfalar</h2>
<br />
<button type="button" class="btn btn-success" data-bs-toggle="modal" onclick="getPages(1)" data-bs-target="#createModal">Dinamik Sayfa Ekle</button>
<table class="table table-hover mt-3">
    <thead>
        <tr>
            <th class="d-none">Id</th>
            <th>Dinamik Sayfa</th>
            <th>Açıklama</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody id="pageTableBody" class="table-border-bottom-0">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                @* <td>@item.MainCategoryId</td> *@
                <td>
                    <div class="dropdown">
                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                            <i class="bx bx-dots-vertical-rounded"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a onclick="getPageById(@item.Id)" data-bs-toggle="modal" data-bs-target="#updateModal" class="dropdown-item"><i class="bx bx-edit-alt me-1"></i> Güncelle</a>
                            <a onclick="deletePage(@item.Id, @item.Name)" class="dropdown-item"><i class="bx bx-trash me-1"></i> Sil</a>
                        </div>
                    </div>
                </td>
            </tr>
        }


    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">Kategori</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    @* <div class="mb-3 d-none">
                        <label for="recipient-name" class="col-form-label">ID:</label>
                        <input type="text" class="form-control" id="id">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Kategori Adı:</label>
                        <input type="text" class="form-control" id="upCategoryName">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Açıklama:</label>
                        <textarea class="form-control" id="upDesc"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Sıralama Numarası:</label>
                        <input type="number" class="form-control" id="upLine" oninput="this.value = Math.round(this.value);">
                    </div>
                    <div class="input-group mb-3">
                        <label for="recipient-name" class="col-form-label">Alt Kategori:</label>
                        <label class="m-1 ms-3 toggler-wrapper style-1">
                            <input id="upSubCatCheck" onchange="subCatCheckToggle('update')" type="checkbox">
                            <div class="toggler-slider">
                                <div class="toggler-knob"></div>
                            </div>
                        </label>
                    </div> *@
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <button onclick="updateCategory()" type="button" class="btn btn-primary">Güncelle</button>
            </div>
        </div>
    </div>
</div>



<div class="modal" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">Dinamik Sayfa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Kategori Adı:</label>
                        <input type="text" class="form-control" id="categoryName">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Açıklama:</label>
                        <textarea class="form-control" id="desc"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Sıralama Numarası:</label>
                        <input type="number" class="form-control" id="line" oninput="this.value = Math.round(this.value);">
                    </div>
                    <div class="input-group mb-3">
                        <label for="recipient-name" class="col-form-label">Alt Kategori:</label>
                        <label class="m-1 ms-3 toggler-wrapper style-1">
                            <input id="subCatCheck" onchange="subCatCheckToggle('add')" type="checkbox">
                            <div class="toggler-slider">
                                <div class="toggler-knob"></div>
                            </div>
                        </label>
                    </div>
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <button onclick="createCategory()" type="button" class="btn btn-primary">Ekle</button>
            </div>
        </div>
    </div>
</div>



<script>
    function getPages(val) {

        $.ajax({
            url: '@Url.Action("GetPages", "Page")',
            type: 'POST',
            dataType: 'json',
            success: function (data) {
                if (data) {
                    if (val === 1) {
                        $("#category").empty();
                        var trHtml = "";
                        for (var item of data) {
                            trHtml += '<option value="' + item.id + '">' + item.name + '</option>';
                        }
                        $("#category").append(trHtml);
                    }
                    if (val === 2 && mainCategoryId !== null) {
                        $("#upMainCategoryId").empty();
                        var trHtml = "";
                        for (var item of data) {
                            if (item.id === mainCategoryId)
                                trHtml += '<option selected value="' + item.id + '">' + item.name + '</option>';
                            else
                                trHtml += '<option value="' + item.id + '">' + item.name + '</option>';

                        }
                        $("#upMainCategoryId").append(trHtml);
                    }
                }
                else {

                    Swal.fire({
                        title: "Hata!",
                        text: "Bir şeyler ters gitti lütfen tekrar deneyiniz!",
                        icon: "error"
                    });

                    return;
                }
            }
        });
    }
</script>