@model IEnumerable<EShopperAdminPanel.Models.SliderModel>
@{
}
<script src="~/assets/pages-js/"></script>

<h2>Slider</h2>
<br />
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#sliderModal">Yeni Slider Ekle</button>
<table class="table table-hover mt-3">
    <thead>
        <tr>
            <th class="d-none">Id</th>
            <th>Adı</th>
            <th>Fotoğraf</th>
        </tr>
    </thead>
    <tbody id="sliderTableBody" class="table-border-bottom-0">
        @foreach (var item in Model)
        {
            <tr>
                <td class="d-none">@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Photo</td>
                <td>
                    <div class="dropdown">
                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                            <i class="bx bx-dots-vertical-rounded"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a onclick="getSliderById(@item.Id)" data-bs-toggle="modal" data-bs-target="#sliderModal" class="dropdown-item"><i class="bx bx-edit-alt me-1"></i> Güncelle</a>
                            <a onclick="" class="dropdown-item"><i class="bx bx-trash me-1"></i> Sil</a>
                        </div>
                    </div>
                </td>
            </tr>
        }
        
        
    </tbody>
</table>

<!-- Modal -->
<div class="modal" id="sliderModal" tabindex="-1" aria-labelledby="sliderModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sliderModalLabel">Slider</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3 d-none">
                        <label for="recipient-name" class="col-form-label">Id:</label>
                        <input type="text" class="form-control" id="id">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Slider Adı:</label>
                        <input type="text" class="form-control" id="sliderName">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Fotoğraf:</label>
                        <input type="file" class="form-control" id="sliderPhoto" aria-describedby="inputGroupFileAddon03" aria-label="Upload" accept="image/*">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <button onclick="createUpdateSlider()" type="button" class="btn btn-primary">Kaydet</button>
            </div>
        </div>
    </div>
</div>

<script>
    function createUpdateSlider() {
        var doc = $("#sliderPhoto");
        debugger
        var id = parseInt($("#id").val());
        var sliderName = $("#sliderName").val();
        var sliderPhoto = doc[0].files[0];
        
        var formData = new FormData();
        
        if (id === 0 || id === undefined) {
            formData.append("_sliderName", sliderName);
            formData.append("_sliderPhoto", sliderPhoto);
            $.ajax({
                url: '@Url.Action("CreateSlider", "Slider")',
                type: 'POST',
                dataType: 'json',
                data: formData,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data) {
                        $(function () {
                            $('#sliderModal').modal('toggle');
                        });
                        Swal.fire({
                            title: "Başarılı!",
                            text: "Slider başarıyla eklendi.",
                            icon: "success"
                        });
                        updateTable();
                    }
                    else {
                        $(function () {
                            $('#sliderModal').modal('toggle');
                        });
                        Swal.fire({
                            title: "Hata!",
                            text: "Bir şeyler ters gitti lütfen tekrar deneyiniz!",
                            icon: "error"
                        });

                        return;
                    }
                }
            });
        }
        else {
            formData.append("_id", id);
            formData.append("_sliderName", sliderName);
            formData.append("_sliderPhoto", sliderPhoto);
            $.ajax({
                url: '@Url.Action("UpdateSlider", "Slider")',
                type: 'POST',
                dataType: 'json',
                data: formData,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data) {
                        $(function () {
                            $('#sliderModal').modal('toggle');
                        });
                        Swal.fire({
                            title: "Başarılı!",
                            text: "Ürün başarıyla güncellendi.",
                            icon: "success"
                        });
                        updateTable();
                    }
                    else {
                        $(function () {
                            $('#sliderModal').modal('toggle');
                        });
                        Swal.fire({
                            title: "Hata!",
                            text: "Bir şeyler ters gitti lütfen tekrar deneyiniz!",
                            icon: "error"
                        });

                        return;
                    }
                }
            });
        }
    }

    function getSliderById(_id) {
        $.ajax({
            url: '@Url.Action("GetSliderById", "Slider")',
            type: 'POST',
            dataType: 'json',
            data: {
                "_id": _id
            },
            success: function (data) {
                if (data) {
                    console.log(data);
                    // $("#upPhoto").attr("src", "/sliderPhotos/" + data.photo);
                    $("#id").val(data.id);
                    $("#sliderName").val(data.name);
                    $("#sliderPhoto").val(data.photo);
                }
                else {
                    $(function () {
                        $('#sliderModal').modal('toggle');
                    });
                    Swal.fire({
                        title: "Hata!",
                        text: "Bir şeyler ters gitti lütfen tekrar deneyiniz!",
                        icon: "error"
                    });

                    return;
                }
            }
        });
    }
</script>